# Default ignored files
/workspace.xml
/../out/production/calculator/Calculator.class
/../out/production/calculator/META-INF/calculator.kotlin_module
/vcs.xml
/modules.xml
/../test/CalculatorTest.java
/../calculator.iml
/../out/production/calculator/calc.class
/misc.xml
